.d1 {
	float: left;
	background-color: rgb(86, 230, 182);
	border: 3px solid rgb(231, 59, 6);
	width: 31%;
	margin: 5px;
	text-align: center;
}


.h1{
    color: orangered;
	font-size: 30px;
	text-align: center;
}
.d11{
    float: left;
	background-color: rgb(226, 35, 210);
	border: 3px solid rgb(3, 83, 129);
	width: 23%;
	margin: 5px;
	text-align: center;
}
.g1{
	margin: 10px;
	float: left;
	border-radius:5;
	border: 3px solid rgb(82, 3, 3);
}
.d111{
	float: left;
	background-color: rgb(5, 71, 49);
	border: 3px solid rgb(193, 226, 46);
	width: 18%;
	margin: 5px;
	text-align: center;
}
}
.d1111{
	float: left;
	background-color: rgb(69, 35, 100);
	border: 3px solid rgb(5, 231, 118);
	width: 15%;
	margin: 5px;
	text-align: center;
}
.d1111{
	float: left;
	background-color: rgb(122, 38, 17);
	border: 3px solid rgb(230, 0, 172);
	width: 13%;
	margin: 5px;
	text-align: center;
}
